pf-dropdown {
    width: calc(100% - 12px);
    --pf-dropdown-border: none;
    --pf-dropdown-menu-min-width: 100%;
    --pf-dropdown-menu-margin-top: 0px;

    .menu {
        background-color: #454d55;
    }

    .dropdown-item {
        padding: 0.5rem 1rem;
    }
}

.nothing-found {
    color: #c2c7d0;
    padding: 0.25rem 0.5rem;
}

.list-group {
    .list-group-item {
        padding: 0.5rem 0.75rem;
        cursor: pointer;
    }

    .search-path {
        font-size: 80%;
        color: #adb5bd;
    }
}
