<div class="form-group">
    <label :for="ID" class="select-label">
        <slot />
    </label>
    <select
        :class="{'form-control': type === 'default', 'custom-select': type === 'custom'}"
        :id="ID"
        :name="ID"
        :disabled="disabled"
    >
        <option :selected="isNoneSelected">None</option>
        <option
            v-for="option in options"
            :value="option.value"
            :selected="modelValue === option.value"
        >
            {{option.label}}
        </option>
    </select>
</div>
