.brand-image {
    float: left;
    line-height: 0.8;
    margin: -1px 8px 0 6px;
    opacity: 0.8;
    --pf-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.img-circle {
    --pf-box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b !important;
}
