<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <router-link to="/" class="h1"><b>Admin</b>LTE</router-link>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form @submit.prevent="loginByAuth">
                <app-input
                    icon="envelope"
                    class="mb-3"
                    type="email"
                    placeholder="Email"
                    autocomplete="off"
                    v-model="email"
                />
                <app-input
                    icon="lock"
                    class="mb-3"
                    type="password"
                    placeholder="Password"
                    autocomplete="off"
                    v-model="password"
                />

                <div class="row">
                    <div class="col-7">
                        <app-checkbox v-model="rememberMe">
                            Remember Me
                        </app-checkbox>
                    </div>
                    <!-- /.col -->
                    <div class="col-5">
                        <app-button
                            class="btn-primary"
                            type="submit"
                            block="true"
                            :loading="isAuthLoading || isFacebookLoading || isGoogleLoading"
                        >
                            Sign In
                        </app-button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center mt-2 mb-3">
                <app-button
                    class="btn-primary"
                    icon="facebook"
                    block="true"
                    @click="loginByFacebook"
                    :loading="isAuthLoading || isFacebookLoading || isGoogleLoading"
                >
                    Sign in using Facebook
                </app-button>
                <app-button
                    class="btn-danger"
                    icon="google-plus"
                    block="true"
                    @click="loginByGoogle"
                    :loading="isAuthLoading || isFacebookLoading || isGoogleLoading"
                >
                    Sign in using Google
                </app-button>
            </div>
            <!-- /.social-auth-links -->

            <p class="mb-1">
                <router-link to="/forgot-password">
                    I forgot my password
                </router-link>
            </p>
            <p class="mb-0">
                <router-link to="/register" class="text-center">
                    Register a new membership
                </router-link>
            </p>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
